.container-home{
    height: auto;
    width: 100%;
   
}
.panel{
    height: 300px;
 
}
.logo{
    height: 400px;
 
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
.product-home{
    height: auto;
    width: 90%;

    margin-left: 5%;
    margin-right: 5%;
}
.Tindacbie{
    height: 600px;
  
}
.panel-Image{
    height: 100%;
    width: 100%;
}
.logo-Image-one{
    width: 25%;
    height: 100%;
  
    margin-left: 5%;
}
.logo-Image-two{
    width: 25%;
    height: 100%;

    margin-left: 7.5%;
}
.logo-Image-three{
    width: 25%;
    height: 100%;
 
    margin-left: 7.5%;
}
.logo-Image-one-img{
    height: 80%;
    width: 100%;

}
.logo-Image-two-img{
    height: 80%;
    width: 100%;

}
.logo-Image-three-img{
    height: 80%;
    width: 100%;
  
}
.logo-Text{
    text-align:center;
    margin-top: 5%;
}
.product-home-Text{
    height: 5%;

    padding-left: 1%;
}
.product-home-item{
    height: 95%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-home-item-tem1{
    height: 500px;
    width: 23.75%;
    border-width: 1;

    margin-top: 1%;
  
    margin-left: 1%;
    
    
}

.product-home-item-img-one{
    height: 80%;
    width: 90%;
    margin-left: 5%;
    
}
.bbbb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-home-item-img-one-title{
    text-align: center;
}
